<div class="row"> 
  <mat-form-field class="drop">
    <mat-label>Select Grid</mat-label>
    <mat-select (selectionChange)="onChange($event)">
      @for (item of grids; track item) {
        <mat-option [value]="item.value">{{ item.viewValue }}</mat-option>  
      }
    </mat-select>
  </mat-form-field>

  <button (click)="generateNextState()" class="button">Next World</button>
</div>

<div class="drawing-grid"> 
  <mat-grid-list cols={{getColumn()}} rowHeight="1:1">
    @for (row of selectedGrid; track row) {
      @for (cell of row; track cell) {
        <mat-grid-tile [style.background]="getColor(cell)" ></mat-grid-tile>
      }
    }
  </mat-grid-list>
</div> 


